td {
  border-style: none;
  text-align: center;
  font-size: 15;
  font-family: fantasy;
}
tr {
  text-align: center;
  color: white;
}
body {
  background-image: url(https://www.itl.cat/pngfile/big/196-1961254_galaxy-wallpapers-for-ipad-group-pastel-pink-galaxy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
table {
  font-family: monospace;
  border-collapse: inherit;
  text-align: center;
  color; black;
}
h1 {
  font-size: 4e;
  font-family: sans-serif;
  color: white;
  text-align: center;
}
h2 {
  font-size: 2e;
  font-family: cursive;
  color: white;
  text-align: center;
}
.planetImgColumn {
    display: inline-block; /* Display images side-by-side */
    text-align: center;
    color: red;
    display: center;
}
.Infolink {
  text-align: center;
  color: white;
  display: inline-block; /*Display in center */
  display: center;
}
.theplanets {
  text-align: center;
}
