td {
  border-style: none;
  text-align: center;
}
td {
  font-size: 15;
  font-family: fantasy;
}
body {
  background-image: url(https://www.itl.cat/pngfile/big/196-1961254_galaxy-wallpapers-for-ipad-group-pastel-pink-galaxy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
