body {
  background-image: url(https://www.itl.cat/pngfile/big/196-1961254_galaxy-wallpapers-for-ipad-group-pastel-pink-galaxy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
table {
  font-family: monospace;
  border-collapse: inherit;
  text-align: center;
  color: white;
}
h1 {
  font-family: sans-serif;
  color: white;
  text-align: center;
}
h2 {
  font-family: cursive;
  color: white;
  text-align: center;
}
.planetImgColumn {
    text-align: center;
}
.Infolink {
  color: white;
  display: center;
}
.theplanets {/* Planet names in table */
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    text-align: center;
}
